---
import Tag from "../Tag.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type Project = CollectionEntry<"projects">["data"] & { slug: "string" };

const { title, image, imageAlt, tags, description, slug } =
    Astro.props as Project;
---

<a href=`/projects/${slug}`>
    <div class="project-card">
        <Image
            src={image}
            alt={imageAlt ?? title}
            class="project-card__image"
            loading="lazy"
            decoding="async"
            format="webp"
            quality="mid"
        />
        <div class="project-card__content">
            <div class="project-card__header">
                <h3 class="project-card__title text-h5">{title}</h3>
                <div class="project-card__tags">
                    {
                        tags.map((tag) => (
                            <Tag label={tag} variant="primary-outline" />
                        ))
                    }
                </div>
            </div>
            <p class="project-card__description">{description}</p>
            <span class="project-card__link">
                VIEW PROJECT <span aria-hidden="true">&rarr;</span>
            </span>
        </div>
    </div>
</a>

<style>
    .project-card {
        background-color: var(--color-surface);
        border-radius: var(--border-radius);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid var(--blue-100);
        padding: 0.75rem;
    }

    .project-card__image {
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block;
        aspect-ratio: 16/9;
    }

    .project-card__content {
        padding: var(--space-m);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        flex-grow: 1;
    }

    .project-card__title {
        margin-bottom: 12px;
    }

    .project-card__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .project-card__description {
        flex-grow: 1; /* Push link to the bottom */
    }

    .project-card__link {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: var(--space-3xs);
        transition: color 0.3s ease;
        align-self: flex-start; /* Align link to the start */
        background-color: transparent; /* Override default btn background */
        padding: 0; /* Remove default btn padding */
        color: var(--primary-500); /* Ensure link text is visible */
        border-radius: 0; /* Remove button border-radius */
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
    }

    .project-card__link:hover,
    .project-card__link:focus-visible {
        transform: none; /* Disable btn hover effect */
        filter: brightness(1.2); /* Slight brightness on hover */
        border-bottom: 1px solid var(--primary-500);
    }
    .project-card__linklink:active {
        transform: none;
        box-shadow: none;
        filter: brightness(0.9);
    }

    .project-card__link span {
        transition: transform 0.3s ease;
    }

    .project-card__link:hover span {
        transform: translateX(4px);
    }

    @media (min-width: 768px) {
        .project-card__title {
            margin-bottom: 8px;
        }
        .project-card__tags {
            gap: 8px;
        }

        .project-card {
            gap: 1.75rem;
            padding: 1.25rem;
        }
    }

    @media (min-width: 1280) {
        .project-card__title {
            margin-bottom: 12px;
        }
        .project-card__tags {
            gap: 12px;
        }

        .project-card {
            padding: 2.5rem;
        }
    }
</style>
