---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Tag from "../Tag.astro";

type Project = CollectionEntry<"projects">["data"] & { slug: "string" };

const { title, image, imageAlt, tags, description, slug } =
    Astro.props as Project;
---

<a class="link-container" href={`/projects/${slug}`}>
    <div class="featured-project-card">
        <Image
            src={image}
            alt={imageAlt ?? title}
            class="featured-project-card__image"
            loading="lazy"
            decoding="async"
            format="webp"
            quality="mid"
        />
        <div class="featured-project-card__content">
            <div class="featured-project-card__header">
                <h3 class="featured-project-card__title">{title}</h3>
                <div class="featured-project-card__tags">
                    {
                        tags.map((tag) => (
                            <Tag label={tag} variant="secondary-solid" />
                        ))
                    }
                </div>
            </div>
            <p class="featured-project-card__description">{description}</p>
            <span class="featured-project-card__link text-caption">
                VIEW PROJECT <span aria-hidden="true">&rarr;</span>
            </span>
        </div>
    </div>
</a>
<style>
    .link-container {
        display: block;
    }
    .featured-project-card {
        color: var(--secondary-500);
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .featured-project-card__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block;
    }

    .featured-project-card__content {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        flex-grow: 1;
    }

    .featured-project-card__title {
        margin-bottom: 12px;
    }

    .featured-project-card__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 4px;
    }

    .featured-project-card__description {
        flex-grow: 1; /* Push link to the bottom */
        margin-bottom: 12px; /* Space before button */
        color: var(--secondary-600);
    }

    .featured-project-card__link {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: var(--space-3xs);
        transition: color 0.3s ease;
        align-self: flex-start; /* Align link to the start */
        background-color: transparent; /* Override default btn background */
        padding: 0; /* Remove default btn padding */
        color: var(--secondary-500); /* Ensure link text is visible */
        border-radius: 0; /* Remove button border-radius */
        text-transform: uppercase;
    }

    .featured-project-card__link:hover,
    .featured-project-card__link:focus-visible {
        transform: none; /* Disable btn hover effect */
        filter: brightness(1.2); /* Slight brightness on hover */
        border-bottom: 1px solid var(--secondary-500);
    }
    .featured-project-card__linklink:active {
        transform: none;
        box-shadow: none;
        filter: brightness(0.9);
    }

    .featured-project-card__link span {
        transition: transform 0.3s ease;
    }

    .featured-project-card__link:hover span {
        transform: translateX(4px);
    }

    .featured-project-card {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        .featured-project-card__title {
            margin-bottom: 8px;
        }
        .featured-project-card__tags {
            gap: 8px;
        }

        .featured-project-card {
            gap: 2rem;
        }
    }

    @media (min-width: 1280px) {
        .featured-project-card {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            align-items: center;
        }

        .project-image {
            aspect-ratio: auto; /* Let height be determined by content */
            height: 100%; /* Fill card height */
        }
        .project-content {
            gap: 16px;
        }
        .project-description {
            margin-bottom: 16px;
        }

        .featured-project-card__title {
            margin-bottom: 12px;
        }
        .featured-project-card__tags {
            gap: 12px;
        }
    }
</style>
