---
import { getEntry } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import { render } from "astro:content";

export function getStaticPaths() {
    return [
        { params: { projectId: "chat-app-homepage" } },
        { params: { projectId: "team-app-design" } },
    ];
}
const { projectId } = Astro.params;
const project = await getEntry("projects", projectId);

if (!project) {
    throw new Error(`Project not found: ${projectId}`);
}

const { Content } = await render(project);
---

<BaseLayout title={project.data.title}>
    <section class="project-detail container section-padding-block">
        <h2>{project.data.title}</h2>
        <p class="project-detail__description">{project.data.description}</p>
        {
            project.data.imageUrl && (
                <img
                    src={project.data.imageUrl}
                    alt={project.data.imageAlt ?? project.data.title}
                    class="project-detail__image"
                />
            )
        }
        <div class="project-detail__summary">
            <div class="project-detail__property">
                <span class="text-caption">Project Type</span>
                <div class="project-detail__tags">
                    {
                        project.data.tags.map((tag) => (
                            <Tag label={tag} variant="primary-outline" />
                        ))
                    }
                </div>
            </div>

            <div class="project-detail__property">
                <span class="text-caption">Role</span>
                <p>{project.data.role}</p>
            </div>

            <div class="project-detail__property">
                <span class="text-caption">Tools Used</span>
                <p>{project.data.toolsUsed.join(", ")}</p>
            </div>

            {
                (project.data.figmaLink ||
                    project.data.githubLink ||
                    project.data.siteLink) && (
                    <div class="project-detail__property">
                        <span class="text-caption">Links</span>
                        <div class="project-detail__links">
                            {project.data.figmaLink && (
                                <a
                                    href={project.data.figmaLink}
                                    class="project-detail__external-link"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    View Figma Design
                                </a>
                            )}
                            {project.data.githubLink && (
                                <a
                                    href={project.data.githubLink}
                                    class="project-detail__external-link"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    View Code on GitHub
                                </a>
                            )}
                            {project.data.siteLink && (
                                <a
                                    href={project.data.siteLink}
                                    class="project-detail__external-link"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    View Live Site
                                </a>
                            )}
                        </div>
                    </div>
                )
            }
        </div>
        <div class="project-detail__overview">
            <h3 class="text-h4">Project Overview</h3>
            <div class="markdown-content">
                <Content />
            </div>
        </div>
        <div class="cta-section">
            <div class="cta"></div>
        </div>
    </section>
</BaseLayout>

<style>
    .cta {
        background-color: var(--secondary-100);
    }
    h2 {
        margin-bottom: 0;
    }
    .project-detail {
        display: flex;
        flex-direction: column;
        gap: var(--section-gap);
    }
    .project-detail__image {
        width: 100%;
        height: auto;
        max-width: 600px;
    }
    .project-detail__summary {
        background-color: var(--secondary-100);
        border-radius: var(--border-radius);
        padding: 12px;
    }
    .project-detail__property:not(:last-of-type) {
        margin-bottom: 1rem;
    }
    .project-detail__property span {
        color: var(--primary-400);
    }
    .project-detail__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
    .project-detail__description {
        max-width: 60ch;
        margin-bottom: 2rem;
    }
    .project-detail__links {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    .project-detail__external-link {
        color: var(--primary-500);
        font-weight: medium;

        &:hover {
            text-decoration: underline;
        }
    }
    .project-detail__overview h3 {
        margin-bottom: 12px;
    }
    .markdown-content {
        max-width: 80ch;
    }
    :global(.markdown-content p:not(:last-of-type)) {
        margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
        .project-detail__overview h3 {
            margin-bottom: 20px;
        }
    }
</style>
