---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProjectCard from "../../components/project-index/ProjectCard.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const projects = (await getCollection("projects")).sort(
    (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
        (a.data.order ?? 0) - (b.data.order ?? 0)
);

const filters = [
    "All",
    "Concept",
    "Figma",
    "Webflow Development",
    "Website Design",
];
---

<BaseLayout title="Projects | Hanif Carroll">
    <section class="featured-projects">
        <div class="container section-padding-block">
            <header class="projects-header">
                <h2 class="projects-title">Projects</h2>
                <!-- <div class="filter-section">
                    <span class="filter-label">Filter by:</span>
                    <div class="filter-tags">
                        {
                            filters.map((filter, index) => (
                                <button
                                    class={`filter-tag ${index === 0 ? "active" : ""}`}
                                >
                                    {filter}
                                </button>
                            ))
                        }
                    </div>
                </div> -->
            </header>

            <section class="projects-grid">
                {
                    projects.map((project) => (
                        <ProjectCard
                            slug={project.slug}
                            title={project.data.title}
                            description={project.data.description}
                            tags={project.data.tags}
                            image={project.data.image}
                            imageAlt={
                                project.data.imageAlt ?? project.data.title
                            }
                        />
                    ))
                }
            </section>
        </div>
    </section>
</BaseLayout>

<style>
    .projects-header {
        margin-bottom: var(--space-l);
        display: flex;
        flex-direction: column;
        gap: var(--space-m);
    }

    .filter-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 60px;
    }

    .filter-label {
        font-size: 20px;
    }

    .filter-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .filter-tag {
        display: inline-block;
        padding: 4px 12px;
        border-radius: 8px;
        font-size: var(--font-size-body-small);
        border: 1px solid var(--primary-500);
        cursor: pointer;
        background-color: transparent;
        transition:
            background-color 0.2s,

        &:hover,
        &:focus-visible {
            filter: brightness(1.15);
        }

        &:active {
            filter: brightness(0.95);
        }

        &.active {
            background-color: var(--primary-500);
            color: var(--secondary-500);
            border-color: var(--primary-500);
        }
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    @media (min-width: 768px) {
        .projects-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .projects-grid {
            > * {
                height: 100%;
                display: flex;
            }
        }
    }

    @media (min-width: 1280px) {
    }
</style>
